[Unit]
Description=Auto Battery Conservation Service

[Service]
Type=oneshot
ExecStart=/usr/sbin/auto-battery-conservation --run

[Install]
WantedBy=multi-user.target
